/* screen - playing-cd */

.playing-cd {
  background-color: var(--orange-yellow);
  height: 742px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1157px;
}
.playing-cd .cd-2-C61RwL {
  background-color: transparent;
  height: 446px;
  left: 585px;
  object-fit: cover;
  position: fixed;
  top: 148px;
  width: 448px;
}
.playing-cd .image-1-C61RwL {
  background-color: transparent;
  height: 59px;
  left: 114px;
  object-fit: cover;
  position: fixed;
  top: 646px;
  width: 950px;
}
.playing-cd .mw-love-C61RwL {
  background-color: transparent;
  height: 59px;
  left: 109px;
  object-fit: cover;
  position: fixed;
  top: 646px;
  width: 950px;
}
.playing-cd .rainbow-bacon-C61RwL {
  background-color: transparent;
  height: 1355px;
  left: -258px;
  object-fit: cover;
  position: fixed;
  top: -191px;
  width: 1675px;
}
.playing-cd .spotify-holder-C61RwL {
  background-color: #c4c4c4;
  height: 380px;
  left: 109px;
  position: fixed;
  top: 214px;
  width: 300px;
}
